<div class="modal hide" id="focus_statuses_image" style="width:300px;margin:0;">
  <div class="modal-body">
    <a class="close" onclick="$('#focus_statuses_image').addClass('hide');">×</a>
    
				<div class="tabbable">
						<ul class="nav nav-tabs">
								<li class="active"><a href="#focus_img_tab" data-toggle="tab">本地上传</a></li>
								<li><a href="#focus_url_tab" data-toggle="tab">URL上传<span style="color:red;">高</span></a></li>
						</ul>
						<div class="tab-content">
								<div class="tab-pane active" id="focus_img_tab">
								  <%= form_tag("/focus/upload", :multipart=>true, :remote => true, :id => "focus_img_tab_form") do %>
							     <%= file_field_tag :focus_img_field, :onchange => "readURL(this)", :accept => 'image/png,image/gif,image/jpeg,image/jpg', :class => 'btn' ,:size=>15 %><br>
							   <img id="focus_load_img_pane">
								  <%= submit_tag "上传", id:"focus_img_upload",class:"btn",remote:true %>
								  <% end %>
								  <a id="focus_img_reload" class="btn btn-mini" onclick="focus_img_reload()" href="javascript:void(0)" style="display:none;">更换图片</a> 
								</div>
								<div class="tab-pane" id="focus_url_tab">
								  <%= text_field_tag "url_field",'Enter the image url here' %>
								</div>
						</div>
				</div>
   
  </div>
</div>
<script type="text/javascript">
function focus_img_reload(){
  $("#focus_load_img_pane").attr("src","");
  $("#focus_url_field").val("");
  $("#focus_img_field").val("");
  $("#focus_img_field").css("display","block");
  $("#focus_img_reload").css("display","none");
  $("#focus_img_upload").css("display","block")
}
</script>
