<style type="text/css">
.face{
    background: url("/images/sina_emotions/ico.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin: 0 15px 0 0;
    padding: 2px 0 2px 19px;
				margin:10px;
				background-position: 0 1px;
}
</style>
<a class="face">表情</a>
<%= timestamp = Time.now.strftime("%Y-%m-%d-%H") %>
