<div id="focus_carousel" class="carousel slide">
		<div class="carousel-inner">
		  <div class="item active" id="focus_carousel_item">
     <%= render :template => "focus/focus_index" %>
		  </div>
		  <div class="item" id="sina_carousel_item">
		    <div id="sina_carousel_pane"></div>
		  </div>
		  <div class="item" id="qq_carousel_item">
		    <div id="qq_carousel_pane"></div>
		  </div>
		</div>
</div>

<script type="text/javascript">
$(function(){
  //sina_weibo_init();
  //qq_weibo_init();
});

function focus_load_image(){
  $("#focus_statuses_image").toggleClass("hide");
 	var newPos = new Object();
  newPos.left= $("#focus_check_img").offset().left - 100;
  newPos.top= $("#focus_check_img").offset().top + 15;
  $("#focus_statuses_image").offset(newPos);
  $("#focus_img_tab_form").css("display","block")
  $("#focus_load_img_pane").attr("src","");
  $("#focus_url_field").val("");
  $("#focus_img_field").val("");
}
function readURL(input) {
  if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {                     
      $('#focus_load_img_pane').attr('src', e.target.result);
      $('#focus_load_img_pane').attr('width', "220");                
      } 
    reader.readAsDataURL(input.files[0]);             
   } 
} 

function sina_weibo_init(){
  var strhost = window.location.host;
		var strprotocol = window.location.protocol;
		var strurl = strprotocol + "//" + strhost + "/sina_weibo/index";
  $("#loading_pane").removeClass("hide");
		$.ajax({
			type: 'POST',
			url: strurl,
			contentType: 'multipart/form-data',
			datatype: 'json',
			success:function(data)
			{
				$("#sina_carousel_pane").html(data);
    $("#loading_pane").addClass("hide");
			},
			error:function(xhr,r,e)
			{
				alert(e);
    $("#loading_pane").addClass("hide");
			}
		});
}
function qq_weibo_init(){
  var strhost = window.location.host;
		var strprotocol = window.location.protocol;
		var strurl = strprotocol + "//" + strhost + "/qq_weibo/index";
  $("#loading_pane").removeClass("hide");
		$.ajax({
			type: 'POST',
			url: strurl,
			contentType: 'multipart/form-data',
			datatype: 'json',
			success:function(data)
			{
				$("#qq_carousel_pane").html(data);
    $("#loading_pane").addClass("hide");
			},
			error:function(xhr,r,e)
			{
				alert(e);
    $("#loading_pane").addClass("hide");
			}
		});
}
</script>
