 <% unless Userkey.find_by_user_id(current_user.id).nil? %>
	<% @firms = Userkey.find_by_sql("select * from userkeys where user_id ='#{current_user.id}'") %>
	  <% @other_weibos = Array.new %>
			<% @firms.each do |weibo| %>
				<% if weibo.weibo_firm != "sinaweibo" %>
				 <% @other_weibos.push(weibo.weibo_firm) %>
					<% firm = case weibo.weibo_firm %>
					<% when "sinaweibo" then "新浪微博" %>
					<% when "qqweibo" then "腾讯微博" %>
					<% when "wangyiweibo" then "网易微博" %>
					<% else "focus" %>
					<% end %>
					<lable><input type="checkbox" id="<% weibo.weibo_firm %>_checkbox" onclick="<% if @other_weibos.%>" checked="true" />
					<%= firm %>
					</label>
				<% end %>
			<% end %>
	<% end %>
<script type="text/javascript">
		$("checkbox").click(function(){
		  
		});
function test(arr){
  for(var i=0;i<arr.length;i++){
    		switch(arr[i]){
		      case "sinaweibo":
		        alert("sina");
		      case "qqweibo":
		        alert("qq");
		      case "wangyiweibo":
		        alert("wangyi");
		      default:
		      return
		    }
  }
}
</script>
