<div style="width:100%;height:100%;margin:0 auto;padding-top:0;">

		<div id="sina_carousel" class="carousel slide">
				<div class="carousel-inner">
				  <div class="item active">
				    <img src="images/carousel/1.jpg" alt="">
				    
				  </div>
				  <div class="item">
				    <img src="images/carousel/2.jpg" alt="">
				  </div>
				</div>
		</div>
</div>
<script type="text/javascript">
</script>

