<%= stylesheet_link_tag "/stylesheets/home_about" %>
<%= javascript_include_tag "/javascripts/home_about" %>
<%= javascript_include_tag "/javascripts/menu_highlight" %>
<div id="pageBody" >
    <div class="toggle">
						 <h2>亮点功能介绍 &raquo</h2><br />
				 </div>
 <div class="article">
				<div class="km-info">
					<h3>管理各个社交网络账户</h3>
					<p>我们将多个社交网络融合在一起，为您提供跨平台多账户的管理功能。您将会一次得到所有社交账户中的有用信息，有效分配时间达到高效管理。</p>		
				</div>
				<div class="km-info">
					<h3>发掘有效客户群</h3>
					<p>我们提供高级的搜索定制功能，凭借专业的搜索技术和有效的信息分析，针对性地为您提供潜在的目标价值客户，帮您最大化有效客户群</p>		
				</div>
				<div class="km-info">
					<h3>提高客户忠诚度</h3>
					<p>提高您在社交网络中的交互程度。通过浏览整理好的消息、方便的与任何联系人进行互动，您不会错过任何有价值的信息或与客户交流互动的机会。</p>
				</div>
				<div class="km-info">
					<h3>高效管理联系人</h3>
					<p>方便的管理您所有社交账户中的联系人，了解他们的最新活动好友，查看你们的交互历史，这是一种非常棒的通讯体验！</p>		
				</div>
				<div class="km-info">
					<h3>最小化信息处理成本</h3>
					<p>我们细心为您将各种消息整合在一起，您可以最快的处理新消息和方便的查看所有历史消息，这会为您带来最大的方便。</p>		
				</div>
				<div class="km-info">
					<h3>使消息发布和推广更加便捷</h3>
					<p>定时任务的管理和互动素材的提供使您能够轻松组织自己的消息发布，实现与客户的互动，完成产品的推广。</p>		
				</div>
				<div class="km-info">
					<h3>监控品牌和竞争对手的运营状况</h3>
					<p>所有和您品牌有关的信息以及竞争对手的社交状态，我们都会递交到您的面前，使您了解品牌的运营效果。</p>		
				</div>
				<div class="km-info">
					<h3>掌握您和客户在社交网络中的评估数据</h3>
					<p id="p">透过我们的专业数据统计报告，您会方便看到您和客户的影响力和活跃度数据，对运营提升空间有最大的了解，以针对性的提升管理达到预期目标。</p>		
				</div>	
 </div>
</div>

