<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="description" content="胜因社交管理是基于国内互联网环境的社交媒体管理和营销工具，针对电子商务进行高效安全快速的微博运营。通过胜因社交管理网站，品牌广告主、SME(电子商务，淘宝店，中小企业)可以轻松管理自己的微博各类信息，寻找有价值的客户粉丝，对微博营销实现有效监控，极大扩展潜在客户群和实现企业的运营目标。">
<meta name="keywords" content="微博营销,社交媒体管理,电子商务微博,胜因社交管理,Social Media Management,Social CRM">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta property="xn:admins" content="35090757"/>
<meta property="xn:admins" content="388109615"/>
<title>胜因社交管理 - KMsocial.cn </title>

<%= javascript_include_tag "/javascripts/menu_highlight.js" %>
</head>

<body>
		<%= render "carousel" %>
		<!-- when user register but not firm weibo then-->
		<%= render "home/is_firm_weibo" %>
</body>
</html>




