<div class="modal hide" id="loading_pane" style="width:200px;margin:auto -5em;">
  <div class="modal-body" style="margin:0 auto;text-align:center;">
  <p>请稍候，加载中...</p>
		<img src="/images/loading-bar.gif">
		</div>
</div>
